@charset "utf-8";


*{
    margin:0;
    padding:0;
}



img{
    margin-left: 100px;
    height: 100px;
    
}


#hoofdpijn{
    height: 1000px;
    margin-left: 200;
}

body {
    background-color: gray;
    color: gold; 
}

div{
    background-color: gray;
    font-style: italic;

    
}

#header{
    background-color: black;
    width: 140px;
}

#content{
    background-color:rgb(41, 41, 41) ;
    height: 200px;
    width: 1000px;
    font-size: 30px;
    
}

#footer{
    background-color: rgb(77, 77, 77);
    width: 170px;
    height: 120px;
}